<div class=" fixed bottom-5 left-3 rounded-sm p-3 bg-white text-black shadow-md transform hover:bg-slate-400 transition duration-300 shadow-white font-bold mr-auto ml-10">
    <a href="../">Home</a>
</div>