<div class="otheranimenav">
    <nav class="otheranime">
        <ol style="list-style-type: none;">
           <!-- <i> <strong style="font-size: 35px; align-self: center; margin:0px; padding: 0px;">Navigation</strong></i> -->
            <li class="otheranimeind"><a href="aot.html">Aot</a></li>
            <li class="otheranimeind"><a href="deathnote.html">DethNote</a></li>
            <li class="otheranimeind"><a href="naruto.html">Naruto</a></li>
            <li class="otheranimeind"><a href="bluelock.html">BlueLock</a></li>
            <li class="otheranimeind"><a href="fullmetal.html">FMAB</a></li>
            <li class="otheranimeind"><a href="one_piece.html">One Piece</a></li>
            <li class="otheranimeind"><abbr title="Solo Leveling" style="text-decoration: none;"><a href="solo leveling.html">Arise</a></abbr></li>
            <li class="otheranimeind"><a href="Mob Psycho 100.html">Mob Psycho</a></li>
            <li class="otheranimeind"><a href="One Punch Man.html">OPM</a></li>
            <li class="otheranimeind"><a href="Parasyte.html">Parasyte</a></li>
    
        </ol>
    </nav>
    </div>