<div class="text-white bg-blue-500 rounded-xl p-2 fixed top-1 left-1 font-bold transform hover:bg-blue-600 transition duration-300 font-serif">
    <button>
        <a href="mailto:betaackerman@gmail.com">Review</a>
    </button>
 </div>