
<header class="bg-headingColor p-3 font-extrabold text-4xl rounded-2xl w-3/5 text-center mt-10 border-white border-2 text-gray-900 mb-7 flex align-middle shadow-lg shadow-orange-500 hover:scale-105 transition-transform duration-300 font-serif">
    <img src="https://live.staticflickr.com/7410/12272594713_fb1db15882_z.jpg" height="80" width="80" class="rounded-3xl p-1"/>
    <div class="text-center mt-4 flex-grow">
        My Anime Log
    </div>
</header>