    <div class="flex flex-row justify-between bg-slate-600 p-5 m-8 rounded-lg flex-wrap w-1/2 font-bold hover:scale-110 transition-transform duration-200 font-serif">
        <div class="flex flex-col gap-1">
    <a class="nonunder" href="../index.html" ><span class = "text-orange-500">⦿ Home</span></a>                                      
    <a class="nonunder" href="#" ><span class = "text-orange-500">⦿ Contact</span></a>                            
    <a class="nonunder" href="#" ><span class = "text-orange-500">⦿ Services</span></a>
    <a class="nonunder" href="#" ><span class = "text-orange-500">⦿ About Me</span></a>
        </div>
    
        <div class="flex flex-col gap-1">
    <b>Wanna Contact me!?</b>                       
    <a href="mailto:betaackerman@gmail.com" class = "text-orange-500">Email:betaackerman@gmail.com</a>
    Bhavnagar,Gujarat,India.   
    <div >BTW, This is  hobby project!</div>
        </div>
    </div>
